.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000638;
    z-index: 99;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s cubic-bezier(0, 0.63, 0.58, 1);
    margin-left: auto;
    margin-right: auto;
}
.header-scrolled{
    /*background-color: red;*/
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 25px;
    height: 5rem;
}
@media screen and (max-width: 900px){
    .header-scrolled{
        position: fixed;
        top: -2rem;
        left: 0;
        right: 0;
        background-color: #000638;
        border-radius: 0;
        z-index: 99;
        width: 100%;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s cubic-bezier(0, 0.63, 0.58, 1);
        margin-left: auto;
        margin-right: auto;
    }
}
.header svg{
    position: absolute;
    width: 3rem;
    height: 3rem;
    left: 2rem;
    cursor: pointer;
}
.header svg path{
    fill: white;
    transition: all 0.2s ease-in-out;
}
.header svg:hover path{
    fill: rgba(255,255,255,0.8);
}
h1 {
    color: white;
    font-family: "Luckiest Guy", serif;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.mood{
}
.c{
    font-family: "Krona One", serif;
}
.r{
    font-family: "Lora", serif;
}
.a{
    font-family: "Londrina Shadow", serif;
}
.f{
    font-family: "Geeza Pro", serif;
}
.t{
    font-family: "Knewave", serif;
}
button{
    color: #000638;
    font-family: "Luckiest Guy", serif;
    padding: 1rem;
    width: 10rem;
    font-size: 1.5rem;
    background-color: white;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: absolute;
    right: 2rem;
}
button:hover{
    background-color: #020d56;
    color: white;
}